NODE_ENV=production

API_PORT=3001
BOT_PORT=3000

MONGO_TOKEN_API=mongodb+srv://user:password@cluster.mongodb.net/friturier-api?retryWrites=true&w=majority
MONGO_TOKEN=mongodb+srv://user:password@cluster.mongodb.net/friturier?retryWrites=true&w=majority

DISCORD_TOKEN_API=token_du_bot_api
DISCORD_TOKEN=token_du_bot_principal

STATS_API_KEY=une_cle_commune_entre_api_et_bot
JWT_SECRET=un_long_secret_random
DASHBOARD_PASSWORD=mot_de_passe_dashboard
AFK_CHANNEL_ID=

BASE_PATH=

STATS_API_BASE=http://friturier-api:3001
STATS_API_URL=http://friturier-api:3001

WEBHOOK_ID=
WEBHOOK_TOKEN=
DISCORD_ID=
DISCORD_STATUS=
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
GIPHY_TOKEN=
LAVALINK_HOST=
LAVALINK_PASSWORD=
LAVALINK_PORT=2333
LAVALINK_SECURE=false
OPENAI=